<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">
	<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|70","bottom":"128px"}}},"layout":{"type":"default"}} -->
		<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:128px">
	
			<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"default"}} -->
			<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
				<div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"small"} -->
				<p class="has-small-font-size" style="font-style:normal;font-weight:600"><a href="#">Home</a> </p>
				<!-- /wp:paragraph -->
				
				<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"small"} -->
				<p class="has-small-font-size" style="font-style:normal;font-weight:600">/ </p>
				<!-- /wp:paragraph -->
				
				<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"600"}},"fontSize":"small"} -->
				<p class="has-small-font-size" style="font-style:normal;font-weight:600"><a href="#">Blog</a></p>
				<!-- /wp:paragraph --></div>
				<!-- /wp:group -->
				
				<!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","lineHeight":"1.3"}},"fontSize":"huge"} -->
				<p class="has-huge-font-size" style="font-style:normal;font-weight:700;line-height:1.3">In Blog</p>
				<!-- /wp:paragraph --></div>
				<!-- /wp:group -->
		
			<!-- wp:pattern {"slug":"lemmony/query-large-with-sidebar"} /-->
	
		</div><!-- /wp:group -->
	</div>
	<!-- /wp:group -->
	  
	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->