<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"style":{"spacing":{"padding":{"top":"128px","bottom":"128px"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:128px;padding-bottom:128px"><!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-title {"textAlign":"center","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|50"}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->