<!-- wp:group {"align":"full","style":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"backgroundColor":"midground-alt2","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull has-midground-alt-2-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"header","theme":"lemmony-agency","tagName":"header","className":"site-header"} /--></div>
<!-- /wp:group -->


<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">
	<!-- wp:pattern {"slug":"lemmony/pages-front-agency"} /-->
</main>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","theme":"lemmony-agency","tagName":"footer","className":"site-footer"} /-->